<section class="accordion accordion-flush m-2" id="accordionFlushExample">
    {{#each posts as |post|}}
        <section class="accordion-item m-2">
            <h2 class="accordion-header title-display">
                <button class="accordion-button collapsed accordion-main" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne-{{id}}" aria-expanded="false" aria-controls="flush-collapseOne-{{id}}">
                    {{title}} ({{created_at}})
                </button>
            </h2>
            <section id="flush-collapseOne-{{id}}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <section class="accordion-body row">
                <section class="col-12 m-1"><span class="fs-4">By {{user.username}} on {{created_at}}</span></section>
                <section class="col-6">{{text}}</section>
                <section class="col-6 row">{{>comment-box}}</section>
            </section>
            </section>
        </section>
    {{/each}}
</section>