<section class="container-fluid col-9 vh-100 text-light">
    <h2 id="logo-text" class="m-2">Profile Info</h2>
    <section class="card w-100 m-2" style="width: 18rem;">
        <section class="card-body">
            <h2 class="card-title">Username: {{username}}</h2>
            <h3 class="card-subtitle mb-2 text-body-secondary">Email: {{email}}</h3>
            <button type="button" class="btn btn-warning">New Post</button>
        </section>
    </section>
    <section class="container m-2">
        <h2 id="logo-text">Recent posts</h2>
        {{#each posts as |post|}}
            <a href="/posts/{{post.id}}" class="card-text m-1  text-dark text-decoration-none">
                <section class="card">
                    <section class="card-header">
                        {{post.title}} on {{post.createdAt}}
                    </section>
                    <section class="card-body">
                        <p class="card-text m-1">{{post.text}}</p>
                    </section>
                </section>
            </a>
        {{/each}}
    </section>
</section>