<section>
{{>header-dashboard}}

    <main>
        <div class="project">
            <h1>Project Overview</h1>
        </div>
        <div class="card-container">
            <div class="card">
                <h2>{{project_name}}<h2>
                <h3>Manager:<br>{{manager.first_name}} {{manager.last_name}}</h3>
                <h3>Supervisor:<br>{{supervisor.first_name}} {{supervisor.last_name}}</h3>
                <p>STATUS: {{phase.phase_name}}</p>
            </div>
        </div>
    </main>

</section>