<section>
{{>header-profile}}

  <main>
    <div class="title">
      <h1>Supervisor Dashboard</h1>
    </div>

    <div class="card-container">
      <div class="card">
        <h2>Update Job</h2>
        <div class="card-content">
          <div class="dropdown-center">
            <button id="project-dropdown" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Select task:
            </button>
            {{#if projects.length}}
              <ul class="dropdown-menu">
              {{#each projects}}
                <li class="dropdown-item project-li">
                  <p id="project-update" project-id="{{id}}" class="project-li">{{project_name}}</p>
                </li>
              {{/each}}
              </ul>
            {{/if}}
          </div>
          <div class="dropdown-center">
            <button id="phase-dropdown" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Updated phase:
            </button>
            {{#if phases.length}}
              <ul class="dropdown-menu">
              {{#each phases}}
                <li class="dropdown-item phase-li" >
                  <p id="phase-selection" phase-id="{{id}}" class="phase-li" >{{phase_name}}</p>
                </li>
              {{/each}}
              </ul>
            {{/if}}
          </div>
          <div class="form-group">
            <button id="update-btn" class="btn btn-primary" type="submit">Update</button>
          </div>
        </div>
      </div>

      <div class="card">
        <h2>Tasks</h2>
        <div class="card-content">
          {{#if projects.length}}
            <ul>
            {{#each projects}}
              <li class="col-12 border border-light rounded-1 my-2">
                <a class="text-decoration-none text-light" href="/projects/{{id}}">
                  <h3 class="m-1">{{project_name}}</h3>
                  <p class="m-1">{{phase.phase_name}}</p>
                </a>
              </li>
            {{/each}}
            </ul>
          {{/if}}
        </div>
      </div>
    </div>
  </main>
</section>

<script type="module" src="../public/js/super.js"></script>